***
# ETL Project: Extract, Transform, Load
***
## Step 1: Extract
> Data sources are from csv files, after deep exploration of the data that we needed for this project we did start retrieval process by reading in the dataset

### Importing Dependencies

In [1]:
# Import Dependencies:
import pandas as pd
import os

In [3]:
# Reading in and storing data files:
death_cause = os.path.join("Resources", "Multiple_Cause_death.csv")

'Resources/Multiple_Cause_death.csv'

In [7]:
# Reading in data file:
death_cause_df = pd.read_csv("Resources/Multiple_Cause_death.csv")
death_cause_df.head()

,State,Year,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Prescriptions Dispensed by US Retailers in that year (millions)
0,Alabama,1999,39,4430141,0.9,0.6,1.2,116
1,Alabama,2000,46,4447100,1,0.8,1.4,126
2,Alabama,2001,67,4467634,1.5,1.2,1.9,138
3,Alabama,2002,75,4480089,1.7,1.3,2.1,142
4,Alabama,2003,54,4503491,1.2,0.9,1.6,149

***
## Step 2: Transform
***
> Transforming the dataset to suit the needs of our project, this will including:
> 1. Cleaning Data
> 2. Removing NaNs
> 3. Selecting needed columns
> 4. Re-naming columns

In [ ]:
# Creating new dataset with needed columns